- include: ../../vxflexos-common/tasks/install_vxflexos.yaml

- name: display Tie-Breaker information
  debug:
    msg: "Tie-Breaker is {{ vxflexos_tb_primary_hostname }} with IP {{ vxflexos_tb_primary_ip }} "

- name: allow traffic on 6611
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 6611
    jump: ACCEPT
    action: insert

- name: allow traffic on 9011
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 9011
    jump: ACCEPT
    action: insert

- name: login with password
  command: scli --login --username admin --password "{{ password }}"
  run_once: true
  delegate_to: "{{ vxflexos_mdm_mgmt_ip }}"

- name: add tie breaker
  command: scli --add_standby_mdm --new_mdm_ip "{{ vxflexos_tb_primary_ip }}" --new_mdm_name "{{ vxflexos_tb_primary_hostname }}" --mdm_role tb
  run_once: true
  delegate_to: "{{ vxflexos_mdm_mgmt_ip }}"
  register: add_primary_tb

- name: switch to cluster three node
  command: scli --switch_cluster_mode --cluster_mode "{{ cluster_mode }}" --add_slave_mdm_ip "{{ vxflexos_mdm_secondary_ip }}" --add_tb_ip "{{ vxflexos_tb_primary_ip }}" 
  run_once: true
  delegate_to: "{{ vxflexos_mdm_mgmt_ip }}"
